# Created by .ignore support plugin (hsz.mobi)
bin/
lib/
.idea/
.vs/
.vscode/
.pytest_cache/
__pycache__/
include/
tests/__pycache__/
venv/include/
venv/pip-selfcheck.json
venv/pyvenv.cfg
wombots/__pycache__/
